<ion-header>

  <ion-navbar>
    <ion-title>Авторизація</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form (ngSubmit)="logIn(loginForm.value)" #loginForm="ngForm">
    <ion-item>
      <ion-label floating>Логін</ion-label>
      <ion-input type="text" name="login" ngModel required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Пароль</ion-label>
      <ion-input type="password" name="password" ngModel required></ion-input>
    </ion-item>
    <button ion-button block type="submit" [disabled]="!loginForm.valid"  color="secondary">Увійти</button>
  </form>

  <button ion-button block (click)="loadRegistrationPage()">Зареєструватися</button>

</ion-content>
