<ion-header>

  <ion-navbar hideBackButton="true">

    <ion-buttons left>
      <button ion-button icon-only (click)="logOut()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons right>
      <button ion-button icon-only (click)="loadElectivePage('add')">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>

    <div padding>
      <ion-segment secondary [(ngModel)]="electiveFilter" (ionChange)="filterElectives($event)">
        <ion-segment-button value="all">Всі</ion-segment-button>
        <ion-segment-button value="my">Мої</ion-segment-button>
        <ion-segment-button value="old">Архів</ion-segment-button>
      </ion-segment>
    </div>

  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-refresher (ionRefresh)="refreshData($event)">
    <ion-refresher-content
      pullingText="Потягніть вниз, щоб оновити"
      refreshingText="Оновлення...">
    </ion-refresher-content>
  </ion-refresher>

  <div class="dataBackground" (swipe)="swipeEvent($event)">

    <ion-card *ngFor="let elective of electives" (click)="loadElectivePage('tap', elective, $event)">

      <ion-card-header>
        <ion-grid>
          <ion-row row-2>

            <ion-col col-10>
              <ion-label>{{ elective.name }}</ion-label>
            </ion-col>

            <ion-col col-2>
              <button ion-button small outline (click)="presentActionSheet(elective, $event)"
                      *ngIf="elective.author === getUser().id">

                <ion-icon name="more"></ion-icon>

              </button>
            </ion-col>

          </ion-row>
        </ion-grid>

      </ion-card-header>

      <ion-card-content>

        <ion-item>
          <ion-label>Викладач: {{getAuthorName(elective.author) }} ({{mark}})</ion-label>
        </ion-item>

        <ion-item>
          <ion-label>Дата: {{elective.date}} {{elective.time}}</ion-label>
        </ion-item>

        <ion-item>
          <ion-label>Опис: {{elective.description}}</ion-label>
        </ion-item>

      </ion-card-content>

    </ion-card>
  </div>
</ion-content>
