page-student {

  .header {

    .segment-button {
      max-width: 80px;
    }

  }

  ion-row {

    ion-col:nth-child(2) {
      text-align: right;
    }
  }

  div {

    ion-label {
      white-space: normal;
    }
  }

}
