<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button ion-button block (click)="closeModal()">Назад</button>
    </ion-buttons>
    <ion-title>Реєстрація</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form (ngSubmit)="onAddUser()" [formGroup]="registration">

    <ion-item>
      <ion-label>Логін</ion-label>
      <ion-input type="text" name="login" formControlName="login" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Пароль</ion-label>
      <ion-input type="password" name="password" formControlName="password" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Ім'я</ion-label>
      <ion-input type="text" name="name" formControlName="name" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Прізвище</ion-label>
      <ion-input type="text" name="surname" formControlName="surname" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>E-mail</ion-label>
      <ion-input type="email" name="email" formControlName="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Дата народження</ion-label>
      <ion-datetime displayFormat="YYYY/MM/DD" name="date" formControlName="dateOfBirth" [min]="1940" max="2005" required></ion-datetime>
    </ion-item>


    <ion-item>
      <ion-label>Роль</ion-label>
      <ion-select formControlName="role" multiple="false" okText="Save">

        <ion-option value="Викладач">Викладач</ion-option>
        <ion-option value="Студент">Студент</ion-option>

      </ion-select>

    </ion-item>

    <ion-item>
      <ion-label>Група</ion-label>
      <ion-select formControlName="group" multiple="false" okText="Save">

        <ion-option *ngFor="let group of groups" value="{{group.id}}">{{group.name}}</ion-option>

      </ion-select>

    </ion-item>


    <button ion-button block type="submit" [disabled]="!registration.valid">Зберегти</button>
  </form>

</ion-content>
