<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button ion-button block (click)="closeModal()">Назад</button>
    </ion-buttons>
    <ion-title *ngIf="status === 'edit'">Коригувати факультатив</ion-title>
    <ion-title *ngIf="status === 'tap'">Факультатив</ion-title>
    <ion-title *ngIf="status === 'add'">Створити факультатив</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form (ngSubmit)="onAddElective()" [formGroup]="group">

    <ion-item>
      <ion-label>Назва</ion-label>
      <ion-input type="text" name="name" formControlName="name" required
                 [disabled]="status === 'tap' ? true : false"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Дата проведення</ion-label>
      <ion-datetime displayFormat="YYYY/MM/DD" name="date" formControlName="date" [min]="2017" max="2020-10-31" required
                    [disabled]="status === 'tap' ? true : false"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Час початку</ion-label>
      <ion-datetime displayFormat="HH:mm" name="time" formControlName="time" required
                    [disabled]="status === 'tap' ? true : false"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Тривалість</ion-label>
      <ion-datetime displayFormat="HH:mm" name="time" formControlName="duration" required
                    [disabled]="status === 'tap' ? true : false"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Аудиторія</ion-label>

      <ion-select formControlName="audience" multiple="false" okText="Save" *ngIf="status !== 'tap'">

        <ion-option *ngFor="let audience of allAudiences" value="{{audience.id}}">{{audience.name}}</ion-option>

      </ion-select>

      <ion-select formControlName="audience" interface="popover" multiple="true" *ngIf="status === 'tap'">

        <ion-option *ngFor="let audience of allAudiences" value="{{audience.id}}" [disabled]="true">{{audience.name}}
        </ion-option>

      </ion-select>

    </ion-item>

    <ion-item>
      <ion-label>Приватність</ion-label>
      <ion-toggle formControlName="privateElective" color="danger"
                  [disabled]="status === 'tap' ? true : false"></ion-toggle>
    </ion-item>

    <ion-item *ngIf="newElective.subscribers.length > 0">
      <ion-label>Люди, що будуть присутні:</ion-label>
      <span>{{newElective.subscribers.length}}</span>
    </ion-item>

    <ion-item>
      <ion-textarea formControlName="description" placeholder="Додайте опис..."
                    [disabled]="status === 'tap' ? true : false"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label *ngIf="status !== 'tap'">Запросити студентів</ion-label>
      <ion-label *ngIf="status === 'tap'">Запрошені студенти</ion-label>

      <ion-select formControlName="subscribers" multiple="true" okText="Save" *ngIf="status !== 'tap'">

        <ion-option *ngFor="let user of allUsers" value="{{user.id}}">{{user.name + ' ' + user.surname}}</ion-option>

      </ion-select>

      <ion-select formControlName="subscribers" interface="popover" multiple="true" *ngIf="status === 'tap'">

        <ion-option *ngFor="let user of allUsers" value="{{user.id}}" [disabled]="true">{{user.name + ' ' +
          user.surname}}
        </ion-option>

      </ion-select>

    </ion-item>

    <button ion-button block type="submit" [disabled]="!group.valid" *ngIf="status !== 'tap'">Зберегти</button>
  </form>

  <form (ngSubmit)="onAddComment()" [formGroup]="comment" class="comment"
        *ngIf="(status === 'tap') && getCurrentUser().role === 'Студент'">
    <ion-item>
      Оцініть та прокоментуйте:
    </ion-item>

    <rating formControlName="rate"></rating>

    <ion-item>
      <ion-textarea formControlName="text" placeholder="Додайте коментар..."></ion-textarea>
    </ion-item>

    <button ion-button block type="submit" [disabled]="!comment.valid">Надіслати коментар</button>
  </form>

  <form (ngSubmit)="onAddNotification()" [formGroup]="notification" class="comment"
        *ngIf="(status === 'tap') && getCurrentUser().role === 'Викладач'">
    <ion-item>
      Повідомте підписників:
    </ion-item>
    <ion-item>
      <ion-textarea formControlName="text" placeholder="Додайте повідомлення..."></ion-textarea>
    </ion-item>
    <button ion-button block type="submit" [disabled]="!notification.valid">Надіслати повідомлення</button>
  </form>
</ion-content>
