<ion-header>

  <ion-navbar hideBackButton="true">

    <ion-buttons left>
      <button ion-button icon-only (click)="logOut()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>


    <ion-buttons right>
      <button ion-button icon-only (click)="loadPrompt('add')">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>

    <div padding>
      <ion-segment secondary [(ngModel)]="addFilter" (ionChange)="refreshData()">
        <ion-segment-button value="groups">Групи</ion-segment-button>
        <ion-segment-button value="audiences">Аудиторії</ion-segment-button>
        <ion-segment-button value="teachers">Викладачі</ion-segment-button>
      </ion-segment>
    </div>

  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-refresher (ionRefresh)="refreshData($event)">
    <ion-refresher-content
      pullingText="Потягніть вниз, щоб оновити"
      refreshingText="Оновлення...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list *ngIf="addFilter === 'groups'">
    <ion-item-sliding *ngFor="let group of groups">
      <ion-item>
        {{group.name}}
      </ion-item>
      <ion-item-options>
        <button ion-button color="danger" (click)="deleteGroup(group)">
          <ion-icon name="trash" ></ion-icon>
          Видалити
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-list *ngIf="addFilter === 'audiences'">
    <ion-item-sliding *ngFor="let audience of audiences">
      <ion-item>
        {{audience.name}}
      </ion-item>
      <ion-item-options>
        <button ion-button color="danger" (click)="deleteAudience(audience)">
          <ion-icon name="trash" ></ion-icon>
          Видалити
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-list *ngIf="addFilter === 'teachers'">
    <ion-item-sliding>
      <ion-item>
        klym.serhiy@gmail.com
      </ion-item>
      <ion-item-options>
        <button ion-button color="secondary" (click)="deleteAudience(audience)">
          Підтвердити
        </button>
        <button ion-button color="danger" (click)="deleteAudience(audience)">
          Відмовити
        </button>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item>
        bidiuk@gmail.com
      </ion-item>
      <ion-item-options>
        <button ion-button color="secondary" (click)="deleteAudience(audience)">
          Підтвердити
        </button>
        <button ion-button color="danger" (click)="deleteAudience(audience)">
          Відмовити
        </button>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item>
        domnina.tat@gmail.com
      </ion-item>
      <ion-item-options>
        <button ion-button color="secondary" (click)="deleteAudience(audience)">
          Підтвердити
        </button>
        <button ion-button color="danger" (click)="deleteAudience(audience)">
          Відмовити
        </button>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item>
        sz@trembit.com
      </ion-item>
      <ion-item-options>
        <button ion-button color="secondary" (click)="deleteAudience(audience)">
          Підтвердити
        </button>
        <button ion-button color="danger" (click)="deleteAudience(audience)">
          Відмовити
        </button>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item>
        e.n.klimenko@gmail.com
      </ion-item>
      <ion-item-options>
        <button ion-button color="secondary" (click)="deleteAudience(audience)">
          Підтвердити
        </button>
        <button ion-button color="danger" (click)="deleteAudience(audience)">
          Відмовити
        </button>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item>
        team@mlab.com
      </ion-item>
      <ion-item-options>
        <button ion-button color="secondary" (click)="deleteAudience(audience)">
          Підтвердити
        </button>
        <button ion-button color="danger" (click)="deleteAudience(audience)">
          Відмовити
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>


</ion-content>
